
.container {
  position: absolute;
  top: 10%;
  left: 100px;
  text-align: center;

  h2 {
	font-size: 5rem;
  }

  a {
	font-size: 1.4rem;
  }
}

.typeSelect {
  margin-top: 30px;

  p {
	font-size: 1rem;
  }
}

.typeYaller {
  margin-top: 50px;
}

.typeRelay {
  margin-top: 50px;
  margin-left: 10px;
}


